{% extends 'base/principal.html' %} 

{% load  static %}
{% block title %}Servicios | BELLE D' LUXE {%endblock title %} 


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'infocss/styletext.css' %}"/>

<body>
  
  <style>

    #btn1{
    background-color: #000000;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5%;
    margin-top: 4%;
    cursor: pointer;
    border-radius: 30px;
  
    }
  </style>

  
<!-- Contenedor del titulo -->

  <div id="title-services"style="background-color:#000;">
    <p id="title-services">NUESTROS SERVICIOS</p>
  </div>

<!-- ---------------------- -->

<!-- Contenedor del texto descriptivo -->
  
  <div id="contenedor-texto-descriptivo"style="background-color:#fff;">
    <p id="text-services">      

        BELLE D’ LUXE es una marca que se dedica a ofrecer servicios de alta

        calidad para el cuidado de la ropa. Nuestro equipo de profesionales se

        encarga de dar delicadeza y eficiencia al producto. Además, brindamos

        asesoría sobre cómo mantener la calidad de nuestro producto, respetando

        las indicaciones de las etiquetas y utilizando los productos adecuados.

    </p>
  </div>

<!-- ---------------------- -->

<!-- Contenedor de una imagen -->

<!-- ---------------------- -->

<!-- Contenedor del sub-titulo -->

<div id="subtitle-services">
  <p id="subtitle-services" >Asesoramiento de moda y vestimenta</p>
</div>

<!-- ---------------------- -->






<!-- Contenedor de la primera tarjeta @Asesoramiento del cuidado -->

  <!-- # Caja #1  -->
  <div id="box-cardI"style="background-color: #000;">

    <!-- # Caja imagen #1  -->

    <div id="box-card-inside-I"style="background-color:#000;">
      <img id="img-cardI" src="{% static 'imagenes/I.png' %}" alt="" width="1670">
    </div>
     <br>
    
    <!-- ----------------- -->

    <!-- # Caja titulo #1  -->
    <p id="text-card-I">Etiquetado del producto.</p>
    <!-- ----------------- -->


    <!-- # Caja texto #1  -->
    <p id="card-text-inside" style="padding: 10%;">
      Es importante tener los cuidados necesarios de la ropa es la mejor manera de mantenerla en buen estado
      y amplia su durabilidad. Nos hemos convertido en consumidores activos, responsables, conscientes e impulsores
      para contribuir a su propio traje que al mismo tiempo ayuda al entorno ambiental. 
      Tenemos para nuestro consumidores, algunos consejos para mantener la esencia de la vestimenta.
    </p>
    <!-- ----------------- -->

      <div class="card" style="width: 100rem; padding: 2%; margin: 2%;" >
    <!-- # Caja acordion #1  -->
    <div id="caja-accordion" class="accordion accordion-flush" id="accordionFlushExample">
          <!-- # Item Accordion #1  -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <p id="itemI" style="font-size: 20px;"> Planchado y cuidado</p>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <img id="img-cardI" src="{% static 'imagenes/cuadro-planchados.png' %}" alt=" " width="600" height="170">

            <p id="p1" style="font-size: 20px;">



           
            <br>
            I. Antes de planchar, clasifica las prendas segun el tipo de
            tela y el nivel de calor que requieren. <br>
            <br>

            II. Utiliza una tela humeda para proteger las telas delicadas
            como el encaje y la lana <br>
            <br>

            III. Rocia las prendas de algodon y poliester con agua o vapor
            antes de plancharlas <br>
           <hr>
          </p>
          </div>
        </div>
      </div>

          <!-- # Item Accordion #2  -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
           <p id="itemII" style="font-size: 20px;">Lavado y secado</p>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">

            <img id="img-cardI" src="{% static 'imagenes/lavado.jpg' %}" alt=" " width="600" height="148">
            <br>

            <p id="p1" style="font-size: 20px;">
            I. Revise los simbolos de lavado. Indica si la prenda se puede
            lavar a mano o a maquina a que temperatura, y si se puede usar
            secadora o plancha.

            <br>
            <br>

            II. Para lavar a mano, usa agua tibia, y poco jabon,
            preferiblemente especial para prendas delicadas

            <br>
            <br>
            <img id="img-cardI" src="{% static 'imagenes/secado.png' %}" alt=" " width="600" height="140">
            <br>

            III. Para secar la ropa, lo mejor es hacerlo al aire libre,
            lejos del sol directo. No usar secadora su la etiqueta lo
            prohibe. Si se utiliza secadora, escoja una temperatura baja y
            un programa corto.

            <br>
            <hr>
            </p>
          </div>
        </div>
      </div>
            <!-- # Item Accordion #3  -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <p id="itemIII" style="font-size: 20px;">Calidad y costura</p>
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p id="p1" style="font-size: 20px;">
            BELLE D' LUXE usa tejidos naturales y nobles como la seda, el
            algodon, la lana o el cachemir, que aportan suavidad, comodidad
            y durabilidad a las prendas. Tambien emplean materiales
            sinteticos o mexclados, pero siempre de alta calidad y con
            propiedades especiales, como la elasticidad, la transpirabilidad
            o la resistencia. Los materiales tambien influyen en el aspecto
            y el color de las prendas, asi como en su caida y su movimiento.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

        </div>

  



  <!-- -------------------------------------------------------------------------------------------------------------------------------------------------- -->

  <!-- Contenedor de la segunda tarjeta @Asesoramiento de moda -->

    <!-- # Caja #2  -->
    <div id="box-cardII"style="background-color: #fff; border: 1px solid rgb(0, 0, 0);">

      <!-- # Caja imagen #2  -->
  
      <div id="box-card-inside-I"style="background-color:#000;   border: 1px solid rgb(0, 0, 0);" width="1668">
        <img id="img-cardII" src="{% static 'imagenes/img3.png' %}" alt="" width="1668">
      </div>
       <br>
      
      <!-- ----------------- -->
  
      <!-- # Caja titulo #2  -->
      <p id="text-2">Sobre moda.</p>
      <!-- ----------------- -->
  
  
      <!-- # Caja texto #2  -->
      <p id="card-text-2" style="padding: 10%; color: black;">
La moda contribuye a los elementos que se relacionan de manera que muesren expresion, 
comunicacion e identidad. Los colores son la parte que suma a la relevancia en la vestimenta
es una forma de transmitir emociones,, sensaciones y mensajes. Tambien tienen un significado
simbolico y cultural, que puede variar segun el contexto y la interpretacion, que se asocia al estilo
personal, que se dapata a las preferencias, a la personalidad, y las necesidades de cada persona.
Nosotros queremos ayudar a que nuestros consumidores conozcan su propio estilo y forma, de acuerdo
a sus cualidades fisicas. 
      </p>
      <!-- ----------------- -->
  
        <div class="card" style="width: 100rem; padding: 2%; margin: 2%;" >
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <p id="itemII" style="font-size: 20px;">En forma</p>
                      </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p id="p1" style="font-size: 20px;">
                        <br>
  
                      <img id="img-cardI" src="{% static 'imagenes/imgforma.png' %}" alt=" ">
<br>
  
                        Si su cuerpo tiene forma de rectangulo . Opta por vestidos con
                        cinturones, frunces, pliegues o volantes.

                        <br>
  
                        <img id="img-cardI" src="{% static 'imagenes/imgII.png' %}" alt=" " width="600">
  <br>
        
                        <br>
                        <br>
        
                        Si su cuerpo tiene forma de triangulo. Opta por vestidos con
                        escotes amplios, mangas abullonadas o hombros descubiertos.
                        <br>

                        <img id="img-cardI" src="{% static 'imagenes/imgIII.png' %}" alt=" " width="600">

                        <br>
        
                        Si su cuerpo tiene forma de triangulo invertido. Opta por
                        vestidos con vuelo, envase acampanados, o con estampados
                        llamativos.
                        <br>
                        <img id="img-cardI" src="{% static 'imagenes/imgIV.png' %}" alt=" " width="600">

                        <br>
        
                        Si su cuerpo tiene forma de reloj de arena Opta por vestidos
                        ajustados, entallados, cruzados o con escotes en V.
                        <br>
                        <img id="img-cardI" src="{% static 'imagenes/imgV.png' %}" alt=" " width="600">

                        <br>
        
                        Si su cuerpo tiene forma ovolada. Opta por vestidos con corte
                        imperiom canesu o recto.
                        <BR>
                          <img id="img-cardI" src="{% static 'imagenes/imgIVI.png' %}" alt=" " width="600">

                        </BR>
                    </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p id="itemII" style="font-size: 20px;">Colores</p>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p id="p1" style="font-size: 20px;">
                      Los colores oscuros como el negro, el azul marino o el burdeos
                      son elegantes y favorecedores
                      <br>
                      <br>
        
                      Los colores brillantes como el rojo, el fucsia o el dorado, son
                      llamativos y divertidos
                      <br>
                      <br>
        
                      Los zapatos pueden tener brillo lentejuelas o cristales para
                      darles un toque glamuroso a tu look
                      <br>
                      <br>
                      <hr>

                      </p>
                    </div>
                </div>
            </div>

          </div>
        </div>      

    </div>
    <center><a id="btn1" href="{% url 'home:inicio'%}" class="btn btn-info" role="button">Regresar</a></center>



<!-- 
           
   
      <div id="accordion" class="accordion accordion-flush" id="accordionFlushExample">
       
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <p id="itemI" style="font-size: 20px;"> En forma</p>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <img id="img-cardI" src="{% static 'imagenes/img3.png' %}" alt=" " width="600" height="170">
  
              <p id="p1" style="font-size: 20px;">
  
  
  
                Si su cuerpo tiene forma de rectangulo . Opta por vestidos con
                cinturones, frunces, pliegues o volantes.

                <br>
                <br>

                Si su cuerpo tiene forma de triangulo. Opta por vestidos con
                escotes amplios, mangas abullonadas o hombros descubiertos.
                <br>
                <br>

                Si su cuerpo tiene forma de triangulo invertido. Opta por
                vestidos con vuelo, envase acampanados, o con estampados
                llamativos.
                <br>
                <br>

                Si su cuerpo tiene forma de reloj de arena Opta por vestidos
                ajustados, entallados, cruzados o con escotes en V.
                <br>
                <br>

                Si su cuerpo tiene forma ovolada. Opta por vestidos con corte
                imperiom canesu o recto.
            </p>
            </div>
          </div>
        </div>
  
 
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
             <p id="itemII" style="font-size: 20px;">Colores</p>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              Los colores oscuros como el negro, el azul marino o el burdeos
              son elegantes y favorecedores
              <br>
              <br>

              Los colores brillantes como el rojo, el fucsia o el dorado, son
              llamativos y divertidos
              <br>
              <br>

              Los zapatos pueden tener brillo lentejuelas o cristales para
              darles un toque glamuroso a tu look
              <br />
              <br>
              <hr>
              </p>
            </div>
          </div>
        </div>
      
       
      </div>
    </div>
  
    
  
-->



  <!-- -------------------------------------------------------------------------------------------------------------------------------------------------- -->
  
  






  <!--  <div id="contenedor-cards" class="card">

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Cuidado del producto</h5>
        <hr />
        <p class="card-text">
          Consultas que podrian interesarte para el cuidado de nuestra
          vestimenta.
        </p>

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Planchado y cuidado.
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                I. Antes de planchar, clasifica las prendas segun el tipo de
                tela y el nivel de calor que requieren. <br />
                <br />

                II. Utiliza una tela humeda para proteger las telas delicadas
                como el encaje y la lana <br />
                <br />

                III. Rocia las prendas de algodon y poliester con agua o vapor
                antes de plancharlas <br />
                <hr />
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Lavado y secado.
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                I. Revise los simbolos de lavado. Indica si la prenda se puede
                lavar a mano o a maquina a que temperatura, y si se puede usar
                secadora o plancha.

                <br />
                <br />

                II. Para lavar a mano, usa agua tibia, y poco jabon,
                preferiblemente especial para prendas delicadas

                <br />
                <br />

                III. Para secar la ropa, lo mejor es hacerlo al aire libre,
                lejos del sol directo. No usar secadora su la etiqueta lo
                prohibe. Si se utiliza secadora, escoja una temperatura baja y
                un programa corto.

                <br />
                <hr />
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Calidad y costura
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                BELLE D' LUXE usa tejidos naturales y nobles como la seda, el
                algodon, la lana o el cachemir, que aportan suavidad, comodidad
                y durabilidad a las prendas. Tambien emplean materiales
                sinteticos o mexclados, pero siempre de alta calidad y con
                propiedades especiales, como la elasticidad, la transpirabilidad
                o la resistencia. Los materiales tambien influyen en el aspecto
                y el color de las prendas, asi como en su caida y su movimiento.
              </div>
            </div>
          </div>
        </div>
        <p class="card-text"><small class="text-muted">@belledluxe</small></p>
      </div>
    </div>
    <div class="card mb-3">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Asesoramiento de moda</h5>
        <hr />
        <p class="card-text">
          Acerca sobre las tendencias, los colores, los tejidos, los cortes y
          los estilos que favorecen a cada tipo de cuerpo y personalidad.
        </p>

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                En forma.
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Si su cuerpo tiene forma de rectangulo . Opta por vestidos con
                cinturones, frunces, pliegues o volantes.

                <br />
                <br />

                Si su cuerpo tiene forma de triangulo. Opta por vestidos con
                escotes amplios, mangas abullonadas o hombros descubiertos.
                <br />
                <br />

                Si su cuerpo tiene forma de triangulo invertido. Opta por
                vestidos con vuelo, envase acampanados, o con estampados
                llamativos.
                <br />
                <br />

                Si su cuerpo tiene forma de reloj de arena Opta por vestidos
                ajustados, entallados, cruzados o con escotes en V.
                <br />
                <br />

                Si su cuerpo tiene forma ovolada. Opta por vestidos con corte
                imperiom canesu o recto.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Colores.
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Los colores oscuros como el negro, el azul marino o el burdeos
                son elegantes y favorecedores
                <br />
                <br />

                Los colores brillantes como el rojo, el fucsia o el dorado, son
                llamativos y divertidos
                <br />
                <br />

                Los zapatos pueden tener brillo lentejuelas o cristales para
                darles un toque glamuroso a tu look
                <br />
                <br />
              </div>
            </div>
          </div>

          <p class="card-text"><small class="text-muted">@belledluxe</small></p>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <img class="card-img-top" src="..." alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">THE STAR X BELLE D' LUXE</h5>
        <p class="card-text">
          BELLE D' LUXE se enorgullese de poder trabajar en colaboracion con la
          marca, The star. En un futuro se espera lanzar colecciones que tengan
          un significado, un buen uso y que refleje el estilo y la
          personalidades de la personas. Nuestra prioridad es que nuestro
          servicio sea capaz de llenar los deseos de nuestros consumidoresm con
          nuestra coleccion, ofrecer[a servicio de vestimenta y servicio de
          belleza.
        </p>
      </div>
    </div>
  </div>
</div>
  -->
  



</body>


  {% endblock content %}
