{% extends 'base/desprod.html' %}
{% load static %}
{% block title %}Carrito de Compras{% endblock %}


{% block content %}

<style>
   #btn1{
       background-color: #000000;
      border: 1px solid rgb(255, 255, 255);
       color: rgb(255, 255, 255);
       padding: 10px 60px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin-left: 5%;
       cursor: pointer;
       border-radius: 30px;
       
     }

</style>


<main class="pt-5">
  <div class="container">
    <p id="carrito" style="font-size: 350%; padding-top:4%; padding-bottom: 5%;">Carrito de compras</p>

    {% for item in carrito %}
      {% with product=item.product %}
      <div id="itzzzz" data-index="{{product.id}}" class="row mb-4 border product-item"  style="padding: 7%;">
        <div class="col-md-3 order-md-first ">
          <img  class="img-fluid mx-auto d-block"  src="{{ product.imagen1.url }}">
        </div>
        <div class="col-md-4 col-lg-8 ">
          <a href="{% url 'tienda:producto' product.id %}" class="text-decoration-none text-reset">
            <h1 class="h5 pt-2" style="padding-left: 6%; padding-bottom: 2%;">{{ product.name }}</h1>
          </a>
          <div class="border" style="margin-left: 6%;">
            <div class="col border-bottom">
              <div class="row p-3">
                <div class="col-6">Precio por unidad :</div>
                <div class="col-6 text-end"><span class="h6 fw-bold">$ {{ product.price }}</span></div>
              </div>
            </div>
            <div class="col">
              <div class="row p-3">
                <div class="col-12">
                  <label for="select">Cantidad</label>
                  <select id="select{{product.id}}">
                    <option selected>
                      {{ item.qty }}
                    </option>  
                    {% for item in data %}
                      {% for i in item.qty_range %}
                        <option value="{{ i }}" {% if i == item.item.qty %}selected{% endif %}>
                          {{ i }}
                        </option>
                      {% endfor %}
                  {% endfor %}
                  </select>
                  <button type="button" id="update-button" data-index="{{product.id}}"
                    class="btn btn-outline-secondary btn-sm update-button">
                    Actualizar
                  </button>
                  <button type="button" id="delete-button" data-index="{{product.id}}"
                    class="btn btn-outline-secondary btn-sm delete-button">
                    Borrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
    {% endfor %}
    <a id="btn1" href="{% url 'tienda:tienda'%}" class="btn btn-info" role="button">Regresar</a>
    <div class="col-12 text-end">
      
      <div class="h6 fw-bold">Sub Total: $ <div id="subtotal" class="d-inline-flex">{{ carrito.get_total_price }}</div></div>
      <a id="btn1" href="{% url 'carrito:pagoC'%}" class="btn btn-dark">Pagar</a>
    </div>
  </div>
</main>

<script>
  // Borrar producto 
  $(document).on('click', '.delete-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "carrito:delete_carrito" %}',
      data: {
        productId: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("carrito-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
  })

  // Actualizar carrito 
  $(document).on('click', '.update-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "carrito:update_carrito" %}',
      data: {
        productId: $(this).data('index'),
        productQty: $('#select' + prodid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("carrito-qty").innerHTML = json.qty
        document.getElementById("subtotal").innerHTML = json.subtotal
      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>
{% endblock %}