{% extends 'base/principal.html' %}
{% load static %}

{% block title %}Pedido{% endblock %}

{% block content %}
<main class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Gracias por su compra:</h2>
            <p class="card-text">A continuación, se muestra la información del pedido:</p>
            
            <p><strong>Código de Pedido:</strong> {{ pedido.codigo_pedido }}</p>
            <p><strong>Fecha del Pedido:</strong> {{ pedido.fecha }}</p>
            
            <h2 class="mt-4">Productos del Pedido:</h2>
            <ul class="list-group">
              {% for item in pedido.itempedido_set.all %}
                <li class="list-group-item">{{ item.product.name }} - Cantidad: {{ item.cantidad }}</li>
              {% endfor %}
            </ul>
            <a href="{% url 'home:inicio' %}" class="btn btn-dark mt-4">Volver al inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
